.DS_Store
.idea
**logs/
**.env
**__pycache__/
**/pgdata
.vscode

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Hashicorp
*.tfstate
*.tfstate.*
*.tfvars
**.terraform
**.terraform.lock.*
**_creds.json
*.pkrvars.hcl